<div class="bg-primary container-xxl" style="height=300px">
  <h1>My Blog</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light container-xxl">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
        <a class="nav-link" href="{% url 'create' %}">Создать новый пост</a>
      </div>
    </div>
  </div>
</nav>
