{% extends "base.html" %}

{% block title %}
Blog
{% endblock %}

{% block content %}
<h2 class="text-center">Опубликованные посты</h2>
{% if all_posts %}

    {% for post in all_posts %}
        <div>
            <h2><a href="{{ post.get_url }}">{{ post.title }}</a></h2>
            <p class="date">
                Опубликовано {{ post.publish_date_time }} пользователем: {{ post.author }}
            </p>
            {{ post.text|truncatewords:10 }}
        </div>
    {% endfor %}

{% else %}

    <div>
        <h2>Новых постов ещё нет</h2>
    </div>

{% endif %}

{% endblock %}
